/* Navbar styles */
.header {
    justify-content: flex-end;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.nav-container {
    background-color: #fff;
    z-index: 10;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 22px;
    justify-content: center;
    padding: 25px 60px;
    height: 50px;
}

@media (max-width: 991px) {
    .nav-container {
        max-width: 100%;
        padding: 0 20px;
    }
}

.nav-content {
    display: flex;
    width: 100%;
    max-width: 1170px;
    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .nav-content {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.nav-logo img {
    aspect-ratio: 1.72;
    object-fit: center;
    object-position: center;
    width: 100px;
    max-width: 100%;
}

.nav-links {
    display: flex;
    gap: 20px;
    color: #1e1e1e;
    margin: auto 0;
}

.header {
    justify-content: space-between; /* Adjust alignment between logo and other elements */
    background-color: #fff;
    display: flex;
    align-items: center; /* Center items vertically */
    padding: 0 20px; /* Adjust padding as needed */
}

.nav-content {
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 20px; /* Adjust spacing between elements */
}

.nav-logo {
    flex: 0 0 auto; /* Ensure logo does not grow or shrink */
}

.nav-links {
    display: flex;
    gap: 40px;
    color: #1e1e1e;
    margin: auto 0;
}

.link {
    font-family: Soyuz Grotesk, sans-serif;
    color: #1e1e1e; /* Change color to desired color */
    text-decoration: none; /* Remove underline */
}

.link:hover {
    font-family: Soyuz Grotesk, sans-serif;
    color: #8c7ebd;
    text-decoration: underline; 
}

.nav-login {
    font-family: Soyuz Grotesk, sans-serif;
    justify-content: center;
    border-radius: 44px;
    background-color: #b4acd5;
    align-self: start;
    margin-top: 0px;
    color: #fff;
    white-space: nowrap;
    padding: 0px 40px;
}

.nav-login:hover {
    background-color: #8c7ebd; /* Adjust hover background color as needed */
}

.link {
    font-family: Soyuz Grotesk, sans-serif;
}

/* Hero section styles */
.hero-section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 700px;
    align-items: start;
    color: #b4acd5;
    justify-content: center;
    padding: 509px 60px 79px 134px;
    font: 67px/63px Soyuz Grotesk, sans-serif;
}

@media (max-width: 991px) {
    .hero-section {
        max-width: 100%;
        font-size: 40px;
        line-height: 42px;
        padding: 40px 20px 0;
    }
}

.hero-image img {
    position: absolute;
    width: auto;
    height: ;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
}

.hero-text {
    position: relative;
}

.primary-text {
    color: rgb(255, 255, 255);
     line-height: 0;
}

.highlighted-text {
    color: rgb(177, 229, 172);
   line-height: 0;
}

.secondary-text {
    color: rgb(180, 172, 213);
    line-height: 0;
}

/* Second section styles */
.container {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 0px 60px;
}

@media (max-width: 991px) {
    .container {
        padding: 0px 0px;
    }
}

.content-wrapper {
    margin-top: 0px;
    width: 100%;
    max-width: 1168px;
}

@media (max-width: 991px) {
    .content-wrapper {
        max-width: 100%;
        margin-top: 40px;
    }
}

.content {
    gap: 0px;
    display: flex;
}

@media (max-width: 991px) {
    .content {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.title-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 37%;
}

@media (max-width: 991px) {
    .title-column {
        width: 100%;
    }
}

.title {
    color: #1e1e1e;
    font: 700 40px/42px 'Soyuz Grotesk', -apple-system, Roboto, Helvetica, sans-serif;
}

.highlighted-title {
    font-size: 80px;
    line-height: 69px;
    color: rgba(30, 30, 30, 1);
}

@media (max-width: 991px) {
    .title {
        margin-top: 40px;
    }
}

.stats-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 63%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .stats-column {
        width: 100%;
    }
}

.stats-cards {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 991px) {
    .stats-cards {
        margin-top: 40px;
    }
}

.stats-group {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .stats-group {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.card {
    border-radius: 32px;
    background-color: #b4acd5;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 16px 0 33px;
}

@media (max-width: 991px) {
    .card {
        margin-top: 8px;
    }
}

.card-content {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    padding: 0 16px 0 32px;
}

@media (max-width: 991px) {
    .card-content {
        padding: 20px;
    }
}

.card-header {
    color: #454253;
    letter-spacing: -1.04px;
    font: 700 84px/64% 'Soyuz Grotesk', -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .card-header {
        font-size: 40px;
    }
}

.card-text {
    color: #1e1e1e;
    margin-top: 19px;
    font: 500 16px/20px 'Montserrat', sans-serif;
}

.small-card {
    border-radius: 32px;
    background-color: #b4acd5;
    display: flex;
    align-items: start;
    gap: 6px;
    padding: 17px 15px 33px 32px;
}

@media (max-width: 991px) {
    .small-card {
        margin-top: 8px;
        padding-left: 20px;
    }
}

.small-card-content {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    flex-grow: 1;
}

.small-card-header {
    color: #454253;
    letter-spacing: -1.04px;
    font: 700 84px/64% 'Soyuz Grotesk', -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .small-card-header {
        font-size: 40px;
    }
}

.small-card-text {
    color: #1e1e1e;
    margin-top: 31px;
    font: 500 16px/20px 'Montserrat', sans-serif;
}

.icon {
    border-radius: 16px;
    background-color: #fff;
    width: 32px;
    height: 32px;
}

.percent-card {
    border-radius: 32px;
    background-color: #b4acd5;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 16px 16px 33px 32px;
}

@media (max-width: 991px) {
    .percent-card {
        margin-top: 8px;
        padding-left: 20px;
    }
}

.percent-content {
margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-size: 84px;
    color: #454253;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: -1.04px;
    line-height: 64%;
}

@media (max-width: 991px) {
    .percent-content {
        font-size: 40px;
        white-space: initial;
    }
}

.percent-text {
    margin-top: 30px;
    color: #1e1e1e;
    font: 500 16px/20px 'Montserrat', sans-serif;
}
  .container {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding: 0px;
  }

  @media (max-width: 991px) {
    .container {
      padding: 0 20px;
    }
  }

  .header-text {
    font-family: Soyuz Grotesk, sans-serif;
    font-weight: 500;
    font-size: 81px;
    color: rgba(69, 66, 83, 1);
  }

  .sub-header-text {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
  }

  .section-top {
    color: #000;
    letter-spacing: -4.06px;
    margin-top: 47px;
    width: auto;
    align-self: center;
    max-width: 2000px;
    font: 52px/55px Inter, sans-serif;
  }

  @media (max-width: 991px) {
    .section-top {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
      line-height: 47px;
    }
  }

  .responsive-img {
    aspect-ratio: 2.04;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 25px;
    max-width: 1168px;
  }

  @media (max-width: 991px) {
    .responsive-img {
      max-width: 100%;
    }
  }

  .steps-wrapper {
    display: flex;
    margin-top: 56px;
    width: 100%;
    max-width: 1146px;
    gap: 20px;
  }

  @media (max-width: 991px) {
    .steps-wrapper {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }

  .step {
    display: flex;
    gap: 19px;
    flex-grow: 1;
    flex-basis: auto;
  }

  @media (max-width: 991px) {
    .step {
      flex-wrap: wrap;
    }
  }

  .step-number {
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background-color: #141414;
    align-self: start;
    color: #ffffff;
    white-space: nowrap;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    font: 20px Montserrat, sans-serif;
  }

  @media (max-width: 991px) {
    .step-number {
      white-space: initial;
    }
  }

  .step-text {
    color: #000;
    flex-grow: 1;
    flex-basis: auto;
    font: 23px/35px Montserrat, sans-serif;
  }

  @media (max-width: 991px) {
    .step-text {
      max-width: 100%;
    }
  }

  .steps-wrapper-second {
    display: flex;
    margin-top: 30px;
    width: 100%;
    max-width: 1146px;
    gap: 30px;
  }

  @media (max-width: 991px) {
    .steps-wrapper-second {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  .step-second {
    align-self: start;
    display: flex;
    align-items: start;
    gap: 20px;
    flex-grow: 1;
    flex-basis: auto;
  }

  @media (max-width: 991px) {
    .step-second {
      flex-wrap: wrap;
    }
  }

  .step-number-second {
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background-color: #141414;
    color: #e0e0e0;
    white-space: nowrap;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    font: 20px Montserrat, sans-serif;
    
  }

  @media (max-width: 991px) {
    .step-number-second {
      white-space: initial;
    }
  }

  .step-text-second {
    color: #000;
    margin-top: 10px;
    flex-grow: 1;
    flex-basis: auto;
    font: 23px/35px Montserrat, sans-serif;
  }

  @media (max-width: 991px) {
    .step-text-second {
      max-width: 100%;
    }
  }

  .step-third {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    flex-basis: auto;
  }

  @media (max-width: 991px) {
    .step-third {
      flex-wrap: wrap;
    }
  }

  .step-number-third {
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #141414;
    align-self: start;
    color: #ffffff;
    white-space: nowrap;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    font: 20px Inter, sans-serif;
    text-align: center;
  }

  @media (max-width: 991px) {
    .step-number-third {
      white-space: initial;
    }
  }

  .step-text-third {
    color: #000;
    flex-grow: 1;
    flex-basis: auto;
    font: 23px/35px Montserrat, sans-serif;
  }

  @media (max-width: 991px) {
    .step-text-third {
      max-width: 100%;
    }
  }

.container2 {
  background-color: #1e1e1e;
  color: #1e1e1e;
  padding: 20px;
  /* Add other styles as needed */
}
.header1-container {
  text-align: center;
  margin-bottom: 20px;
}

.header1-title {
  font-family: Soyuz Grotesk, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  color: #ffffff; /* Header text color */
}

/* Card container styles */
.carousel-container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none; /* Hides scrollbar for Firefox */
  -ms-overflow-style: none; /* Hides scrollbar for IE/Edge */
  scroll-behavior: smooth; /* Smooth scrolling */
  gap: 20px;
  -webkit-scrollbar {
  display: none;
  /* Hides scrollbar for Chrome, Safari, and Opera */
}

.card-container {
  flex: 0 0 auto;
  width: 400px; /* Fixed width for each card */
  height: 200px;
  
  border-radius: 20px;
  
  color: #1e1e1e; /* Text color for card content */
}

.card-content {
  display: flex;
  gap: 0px;
  align-items: left;
  justify-content: space-between
}

.text-column {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: left
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -130px;
  font-size: 14px;
}

.semester,
.course-title,
.cards-count {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin: 0px; /* Reset margin to ensure consistent spacing */
}

.semester {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-weight: 400;
}

.course-title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-size: 25px;
  margin-top: 30px; /* Adjust margin for spacing */
}

.cards-count {
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 10px;
}

.image-column {
  flex: 0 0 40%;
  display: flex;
  justify-content: flex-end;
}

.course-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 20px;
}

.course-image {
  width: 120px;
  height: 120px;
  object-fit: cover
  border-radius: 20px;
}
  border-radius: 20px;
}

/* Individual card styles */
.card-green {
  background-color: #a3ff8e;
}

.card-blue {
  background-color: #a1c8ff;
}

.card-orange {
  background-color: #ffb66d;
}

.card-purple {
  background-color: #d8a1ff;
}

.card-yellow {
  background-color: #f2f087;
}

.card-pink {
  background-color: #ffafd8;
}

/* Button styles */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
    font-family: Soyuz Grotesk, sans-serif;
    justify-content: center;
    border-radius: 44px;
    background-color: #ffffff;
    align-self: start;
    margin-top: 0px;
    color: #1e1e1e;
    white-space: nowrap;
    padding: 20px 40px;
}

.button:hover {
    background-color: #8c7ebd; 
    color: #fff;
}
.container3 {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.centered-section3 {
  background-color: #1e1e1e;
  display: center;
  width: 1800px;
  align-items: center;
  justify-content: center;
  padding: 73px 300px;
}

@media (max-width: 991px) {
  .centered-section3 {
    max-width: 100%;
    padding: 0px 20px;
  }
}

.flex-column3 {
  display: flex;
  width: 100%;
  max-width: 1168px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .flex-column3 {
    max-width: 100%;
  }
}

.white-box3 {
  justify-content: center;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 48px;
}

@media (max-width: 991px) {
  .white-box3 {
    max-width: 100%;
    padding: 0 20px;
  }
}

.flex-gap3 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .flex-gap3 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.half-width-column3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
}

@media (max-width: 991px) {
  .half-width-column3 {
    width: 100%;
  }
}

.info-text3 {
  display: flex;
  margin-top: 7px;
  flex-grow: 1;
  flex-direction: column;
  color: #000;
}

@media (max-width: 991px) {
  .info-text3 {
    max-width: 100%;
    margin-top: 40px;
  }
}

.header-text3 {
  font: 700 31px/36px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .header-text3 {
    max-width: 100%;
  }
}

.subheader-text3 {
  margin-top: 30px;
  font: 500 16px/22px Montserrat, sans-serif;
}

@media (max-width: 991px) {
  .subheader-text3 {
    max-width: 100%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #666;
  font-weight: 400;
}

@media (max-width: 991px) {
  .form-container {
    max-width: 100%;
    margin-top: 40px;
  }
}

.input-field {
  font-family: Montserrat, sans-serif;
  border-radius: 10px;
  border: 1px solid rgba(224, 224, 224, 1);
  background-color: #f5f5f5;
  align-items: start;
  white-space: nowrap;
  line-height: 162.5%;
  justify-content: center;
  padding: 22px 20px;
}

@media (max-width: 991px) {
  .input-field {
    max-width: 100%;
    white-space: initial;
  }
}

.input-group {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

@media (max-width: 991px) {
  .input-group {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.input-subfield {
  font-family: Montserrat, sans-serif;
  border-radius: 10px;
  border: 1px solid rgba(224, 224, 224, 1);
  background-color: #f5f5f5;
  align-items: start;
  line-height: 100%;
  justify-content: center;
  flex-grow: 1;
  width: fit-content;
  margin-right: auto;
  padding: 20px 20px;
}

@media (max-width: 991px) {
  .input-subfield {
    white-space: initial;
  }
}

.submit-button3 {
  justify-content: center;
  border-radius: 44px;
  background-color: #b4acd5;
  align-self: start;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  margin: 20px 0 0px;
  padding: 20px 31px;
}

.courses-container3 {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 80px;
  margin-top: 8px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .courses-container3 {
    max-width: 100%;
    padding: 20px;
  }
}

.flex-row3 {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .flex-row3 {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.category-section {
  display: flex;
  flex-grow: 1;
  align-self: start;
}

.course-category {
  flex-direction: column;
}

.course-category {
  flex-direction: column;
}

.category-header {
  font: 700 20px/24px Montserrat, sans-serif;
  color: #fff;
}

.course-list {
  display: flex;
  margin-top: 23px;
  flex-direction: row;
  gap: 70px;
}

.course-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.course-name {
  font: 200 4px/10px Montserrat, sans-serif;
  color: #fff;
}

.info-section {
  display: flex;
  flex-grow: 1;
  align-self: start;
}

.info-list {
  display: flex;
  flex-direction: column;
}

.info-heading {
  font: 700 20px/25px Montserrat, sans-serif;
  color: #fff;
margin-bottom: 10px;
}

.info-item {
  font: 300 2px/0px Montserrat, sans-serif;
  color: #fff;
  
}

.info-list {
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  gap: 20px;
}

.collaboration-section {
  display: flex;
  flex-grow: 1;
  align-self: start;
}

.collaboration-list {
  display: flex;
  flex-direction: column;
}

.collaboration-heading {
  font: 700 20px/25px Montserrat, sans-serif;
  color: #fff;
margin-bottom: 10px;
}

.collaboration-item {
  font: 300 2px/0px Montserrat, sans-serif;
  color: #fff;
}

.collaboration-list {
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  gap: 20px;
}

.address-section {
  display: flex;
  flex-grow: 1;
  align-self: start;
}

.address-list {
  display: flex;
  flex-direction: column;

}

.address-item {
  font: 400 14px/16px Montserrat, sans-serif;
  color: #fff;
  margin-bottom: 10px;
}

.question {
  display: flex;
  font: 700 18px/16px Montserrat, sans-serif;
  color: #fff;
  margin-top: 20px;
  flex-direction: row;
}

